<div class='container'>
    <h1>Countries</h1>
    <mat-divider></mat-divider>
    <br>
    <div class='card-container'>
        <div class='country-card' *ngFor="let country of countries; let i = index">
            <mat-card>
                <mat-card-title>{{country.countryName}}</mat-card-title>
                <mat-card-subtitle>{{country.continentName}}</mat-card-subtitle>
                <mat-card-content>
                    <div class='card-stat-grouping'>
                        <p>New Cases: {{country.newCases}}</p>
                        <p>New Cases %: {{country.newCasesPercentage}}%</p>
                    </div>
                    <div class='card-stat-grouping'>
                        <p>Active Cases: {{country.activeCases}}</p>
                        <p>Active Cases %: {{country.activeCasesPercentage}}%</p>
                    </div>
                    <div class='card-stat-grouping'>
                        <p>Deaths: {{country.deaths}}</p>
                        <p>Deaths %: {{country.deathsPercentage}}%</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>